body {
    margin: 0;

    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    -webkit-font-smoothing: antialiased;

    background: #fff;

}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.container {
    width: 100%;
    max-width: 1200px;

    margin: 0 auto;
    padding: 0 15px;
}

.header {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;

    border-bottom: 1px solid #4f5268;
}

.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;

}

.nav__link {
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
    opacity: .75;

    transition: opacity .2s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    opacity: 1;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 100px;
    background: #31344e url('../images/intro.jpg') center no-repeat;
}

.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;

    text-align: center;
}

.intro__title {
    margin: 0 0 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 1.1;
    font-weight: 700px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.intro__subtitle {
    margin-bottom: 60px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
}

.btn {
    display: inline-block;
    padding: 14px 40px;
    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase;

    border-radius: 3px;
    border:  0;
    cursor: pointer;
    
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    transition: background-color .2s linear;
    text-align: center;
}

.btn--red {
    background-color: #e84545;
}

.btn--red:hover {
    background-color: #ca4343;
}

.features {
    margin: 100px 0;
    display: flex;
    flex-wrap: wrap;
}

.features__item {
    width: 33.33333%;
    padding: 0 40px;
    margin: 25px 0;
    text-align: center;
}

.features__icon {
    margin-bottom: 20px;
}

.features__title {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #2d3033;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.features__text {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #6c7279;
}

.works {
    display: flex;
    flex-wrap: wrap;
    
}

.works__item {
    width: 25%;
    height: 350px;

    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;

    position: relative;
    overflow: hidden;
}

.works__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.works__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba(232, 69, 69, .7) ;
    opacity: 0;
    transition: opacity .2s linear;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.works__item:hover .works__content {
    opacity: 1;
}

.works__title {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}
.works__text {
    font-size: 14px;
    color: white;
}

.team {
    margin: 100px 0;
}

.team__inner {
    display: flex;

    margin: 0 -15px;
}

.team__item {
    width: 20%;
    text-align: left;
    padding: 0 15px;
}

.team__img {
    margin-bottom: 20px;

    display: block;
    max-width: 100%;
    height: auto;
}

.team__title {
    margin-bottom: 8px;
    
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #2d3033;
}

.team__role {
    margin-bottom: 15px;

    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #e84545;
}

.team__text {
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
}

.download {

    background-color: #31344e;
    padding: 90px 0;

    text-align: center;
}

.download__title {
    margin-bottom: 20px;

    font-size: 28px;
    color: #fff;
    font-weight: 300;
}

.download__text {
    margin-bottom: 30px;

    font-size: 13px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.footer {

    background-color: #3a3e64;
}

.footer__inner {
    padding: 70px 0;
    display: flex;
}

.footer__block {
    width: 33.333%;
    padding: 0 15px;

    text-align: center;
}

.footer__title {
    margin-bottom: 10px;

    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.footer__text {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    font-style: normal;
    color: rgba(255, 255, 255, .7);
}

.copyright {
    padding: 20px 0;
    background-color: #313454;
}

.copyright__text {
    text-align: center;
    font-size: 14px;
    color: #808080;
}

















